@import url("https://fonts.googleapis.com/css2?family=Handlee&family=Raleway:wght@100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a,
button {
  cursor: pointer;
}
.clean-btn {
  all: unset;
  cursor: pointer;
  padding: 8px 14px;
  background: #333;
  color: white;
  border-radius: 5px;
}
body {
  background-color: #000000ea;

  background-image:
    linear-gradient(#3e454e6c 1px, transparent 1px),
    linear-gradient(to right, #3e454e6c 1px, transparent 1px);

  background-size: 40px 40px;
  /* background-color: #000000ea; */
  color: rgba(255, 255, 255, 0.94);
  font-family: "Raleway", sans-serif;
  cursor: default;
  min-height: 100vh;
}

.container {
  padding: 1.5rem;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  max-width: 1200px;
}
.nav {
  padding: 0 2rem 0 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}
main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logo h3 a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.94);
  font-size: 1.52rem;
  text-shadow: 0.4em 0.8em 1em #000000;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS";
}
.logo:hover {
  transform: scaleX(1.11);
}
.logo:active {
  transform: scale(0.8);
}
.fs_button button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  color: rgba(255, 255, 255, 0.94);
}
.fs_button svg {
  width: 1rem;
  height: 1rem;
}

.fs_button button:hover {
  transform: scaleY(1.01);
}
.fs_button button:active {
  transform: scale(0.9);
}
.frame {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.6rem;
}
.frame h1 {
  font-size: 4rem;
  font-family: "Handlee";
}
.frame p {
  font-style: italic;
  font-size: 1em;
}

.Counter {
  max-width: 400px;
  width: 100%;
  min-height: 6rem;
  margin-bottom: 2rem;
  text-align: center;
}
#CounterText {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  /* font-weight: bold; */
  font-size: 5.6rem;
}
.Btns {
  max-width: 400px;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1rem;
}
.Btns button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.4em 0.6em;
  border-radius: 0.24em;
  font-family: "Handlee";
  font-weight: bold;
  min-width: 6rem;
  font-size: 1.2rem;
  background: none;
  border: 1.56px solid rgb(200, 252, 67);
  color: aliceblue;
  text-shadow: 1px 2px 4px #000000;
}
.Btns button:hover {
  transform: scale(1.08);
}
.Btns button:active {
  transform: scale(0.96);
}
.msgs {
  text-align: center;
  margin-bottom: 1.2rem;
}
footer p {
  font-size: 0.68rem;
}
footer {
  margin-top: auto;
  text-align: center;
  padding-bottom: 0.02rem;
}
#msg {
  text-align: center;
  color: rgb(246, 31, 31);
  text-shadow: 1px 2px 4px rgb(255, 0, 0);
  animation: blinker 0.5s linear infinite;
  visibility: hidden;
}

@keyframes blinker {
  25% {
    opacity: 0;
  }
}
